@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800;
}


.image-gradient {
  background: linear-gradient(
    to right,
    rgb(15 23 42) 0%,
    transparent 23%,
    transparent 100%
  );
}

.card-background-gradient {
  background: linear-gradient(
    to top,
    rgb(15 23 42) 0%,
    rgb(19, 27, 44) 70%,
    rgba(29, 38, 63, 0.123) 100%
  );
}

.card:hover {
  scale: 1.15;
}

.card-gradient {
  background: linear-gradient(
    to left,
    rgb(26, 26, 26) 0%,
    transparent 23%,
    transparent 100%
  );
  height: auto;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 40px;
}

.swiper-slide {
  transition: all 2s ease-in-out;
}

.swiper-button-next {
  background-image: url("/images/chevron-right.svg");
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  position: absolute;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("/images/chevron-left.svg");
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  left: -10px;
  position: absolute;
}

.swiper:hover,
.swiper-button-next,
.swiper-button-prev {
  display: block;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
}

.moviedetail-image-gradient{
    background: linear-gradient(
    to right,
    rgb(15 23 42) 0%,
    transparent 23%,
    transparent 100%
  );
}